* {
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    display: flex;
    flex-flow: column nowrap;
    background-color: #1f2937;
    color: #f9faf8;
    align-items: center;
}

li {
     list-style: none;
}

.top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-links {
    display: flex;
    gap: 8px;
}

.bottom-header {
    display: flex;
    justify-content: space-between;
}

.bottom-header-picture {
    height: 250px;
    width: 250px;

}