* {
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    display: flex;
    flex-flow: column nowrap;
    background-color: #1f2937;
    color: #f9faf8;
    align-items: center;
    padding: 50px;
}

li {
     list-style: none;
}

.top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1000px;
    font-size: 24px;
}

.header-links {
    display: flex;
    gap: 8px;
    font-size: 18px;
}

.bottom-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 48px;
    width: 1000px;
    flex: auto;
    margin-top: 48px;
}

.hero-main-text {
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 12px;
}

.hero-subtext {
    font-size: 18px;
    color: #e5e7eb;
    margin-bottom: 12px;
}

.bottom-header-picture {
    height: 250px;
    width: 500px;
}

button {
    background-color: #3882f6;
    color: #f9faf8;
}

.information {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    font-size: 36px;
    font-weight: 900;
    padding: 50px;
}

.images-and-subtext {
    display: flex;
    gap: 12px;
}

.information-image {
    height: 150px;
    width: 150px;
}

.item {
    text-align: center;
    margin-bottom: 12px;
}

.subtext {
    font-size: 24px;
    font-weight: 100;
}

.quote {
    font-size: 36px;
    background-color: #e5e7eb;
    padding: 60px;
}

.quote-text {
    display: flex;
    font-style: italic;
    font-weight:100;
    color: #1f2937;
}

.quote-source {
    display: flex;
    justify-content: flex-end;
    font-weight: 300;
}


.call-to-action {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 50px;
}

.sign-up-notice {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    background-color: #3882f6;
    color: #f9faf8;
    height: 100px;
    width: 500px;
    padding: 50px;
    font-size: 18px;
    align-items: center;
}

.sign-up-button {
    display: flex;
    flex-direction: row;
    width: 70px;
    height: 50px;
}

.sign-up-text {
    display: flex;
    flex-direction: column;
}