* {
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    display: flex;
    flex-flow: column nowrap;
    background-color: #1f2937;
    color: #f9faf8;
    align-items: center;
}

li {
     list-style: none;
}

.top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1000px;
    font-size: 24px;
}

.header-links {
    display: flex;
    gap: 8px;
    font-size: 18px;
}

.bottom-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 48px;
    width: 1000px;
    flex: auto;
    margin-top: 48px;
}

.hero-main-text {
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 12px;
}

.hero-subtext {
    font-size: 18px;
    color: #e5e7eb;
    margin-bottom: 12px;
}

.bottom-header-picture {
    height: 250px;
    width: 500px;
}

button {
    background-color: #3882f6;
    color: #f9faf8;
}

.information {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    font-size: 36px;
    font-weight: 900;
}

.images-and-subtext {
    display: flex;
    gap: 12px;
}

.information-image {
    height: 150px;
    width: 150px;
}

.item {
    text-align: center;
    margin-bottom: 12px;
}

.subtext {
    font-size: 24px;
    font-weight: normal;
}