* {
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    display: flex;
    flex-flow: column nowrap;
    background-color: #1f2937;
    color: #f9faf8;
    align-items: center;
}

li {
     list-style: none;
}

.top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1000px;
}

.header-links {
    display: flex;
    gap: 8px;
}

.bottom-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 48px;
    width: 1000px;
    flex: auto;
    margin-top: 48px;
}

.bottom-header-picture {
    height: 250px;
    width: 500px;
}

button {
    background-color: #3882f6;
    color: #f9faf8;
}

.information {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.images-and-subtext {
    display: flex;
}

.information-image {
    height: 150px;
    width: 150px;
}